<ion-view class="assertive" view-title="Wear House">
  <ion-content class="padding">
    <div ng-controller="DashCtrl as dc">
     <center><h3 class="assertive">{{dc.gen}}</h3></center>
    </div>
    <div>
      <center><h4 style="font-family:sans serif">What Goes with What?</h4></center>
    </div>
    <div class="whatgoes">
      <div class="button">
        <div class="fifty inline" style="background-color:darkcyan;margin: 0;">hello</div>
        <div class="fifty inline" style="background-color:white;margin: 0;">hello</div>
      </div>
      <div class="button">
        <div class="fifty inline" style="background-color:darkcyan">hello</div>
        <div class="fifty inline" style="background-color:white">hello</div>
      </div><br>
      <div class="button">
          <div class="fifty inline" style="background-color:darkcyan">hello</div>
          <div class="fifty inline" style="background-color:white">hello</div>
      </div>
    </div>
  </ion-content>
</ion-view>